@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Teko:wght@300;400;600;700&display=swap');
body{
   margin: 0 auto;
   padding: 0;
  
 
}
h2{
   color: #fff;
   
}
h3{
   color: #fff;
   
}
h4{
   color: #fff;
}
a:hover{
   text-decoration: none;
   
}
/* Start Header Sytle  */
.logo{
       font-size: 26px;
    font-weight: 700;
    
}
header{
    position: fixed;
    z-index: 999;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 33px;
    background: #0B0D0E;
    color: #fff;
    box-shadow: 5px 5px 5px black;
   
}
.navbar-light .navbar-nav .nav-link {
    color: rgb(255, 255, 255);
}
ul li a{
   font-size: 20px;
    font-weight: 600;
    letter-spacing: 1.1px;
    
}
.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link{
   padding-left: 25px;
}
.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
    color: #ed2c66;
    transition-duration: .8s;
    
}
.button{
   background: rgba(0, 0, 0);
    border: 5px solid #ed2c66;
    border-radius: inherit;
    margin-left: 16px;
    color: #ed2c66;
    font-size: 18px;
    font-weight: 700;
   
}

.btn:hover{
   color: #fff;
   transition-duration: 1s;
   background-color: #ed2c66;
}
/* end header sytle  */
/* 2nd section start here  */
section{
   background-color: #121212;
   padding-top: 70px;
   padding-bottom: 70px;
}
#secondSection{
   padding-top: 200px;
   color: #fff;
}
.bg-dark{
   background-color:#0B0D0E!important;
}
.secondPartLeftSide{
    text-align: center;
    font-size: 24px;
    font-weight: 500;
    text-transform: uppercase;
    vertical-align: bottom;
    line-height: 67px;
    letter-spacing: .5px;
}
.secondPartLeftSide > span a{
   color: #ed2c66;
}
.partOne{
   position: relative;
}
.partTwo > img {
    width: 43%;
    right: 0;
    position: absolute;
    bottom: 0;
    right: 54px;
}
.partOne > h3{
   font-size: 30px;
    font-weight: 700;
    letter-spacing: 1.2px;
    padding-top: 100px;
    padding-left: 50px;
}
.partOne > h2{
    font-size: 60px;
    font-weight: 800;
    letter-spacing: 1.2px;
    padding-left: 50px;
}
.partOne >h4{
    padding-left: 50px;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 1.5px;
}
.span{
   color:#ed2c66;
}
.partOne >h4 > .span{
   font-weight: 600;
}
.ssss{
      margin-top: 30px;
    padding-bottom: 40px;
    margin-left: 34px;
}

.buttonActive{
   background: #ed2c66;
    border: 5px solid #ed2c66;
    border-radius: inherit;
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    margin-left: 16px;
    cursor: pointer;
}
.buttonActive:hover{
   background-color: rgba(255, 255, 255, 0);
   border: 4px solid #ed2c66;
   transition-duration: .5s;
   cursor: pointer;
}
/* Second Section end here  */
/* thrid section start here  */
.ThirdSection{
    font-family: 'teko';
    font-weight: 600;
    font-size: 50px;
    letter-spacing: 1.7px;
    padding-bottom: 30px;
}
#demo {
    background-image: url('images/review-bg2.png');
    max-width: 900px;
    margin: auto;
}
.TirdSectionPartTwo  h3{
       font-family: 'Teko';
    font-weight: 500;
    letter-spacing: 1.9px;
    font-size: 40px;
    padding-top: 40px;
}
.TirdSectionPartTwo p{
   
}

.carousel-caption {
    position: initial;
    z-index: 10;
    padding: 5rem 8rem;
    color: rgba(78, 77, 77, 0.856);
    text-align: center;
    font-size: 1.2rem;
    font-style: italic;
    font-weight: bold;
    line-height: 2rem
}

@media(max-width:767px) {
    .carousel-caption {
        position: initial;
        z-index: 10;
        padding: 3rem 2rem;
        color: rgba(78, 77, 77, 0.856);
        text-align: center;
        font-size: 0.7rem;
        font-style: italic;
        font-weight: bold;
        line-height: 1.5rem
    }
}

.carousel-caption img {
    width: 6rem;
    border-radius: 5rem;
    margin-top: 2rem
}

@media(max-width:767px) {
    .carousel-caption img {
        width: 4rem;
        border-radius: 4rem;
        margin-top: 1rem
    }
}

#image-caption {
    font-style: normal;
    font-size: 1rem;
    margin-top: 0.5rem
}

@media(max-width:767px) {
    #image-caption {
        font-style: normal;
        font-size: 0.6rem;
        margin-top: 0.5rem
    }
}

i {
    background-color: rgb(250, 30, 30);
    padding: 1.4rem
}

@media(max-width:767px) {
    i {
        padding: 0.8rem
    }
}

.carousel-control-prev {
    justify-content: flex-start
}

.carousel-control-next {
    justify-content: flex-end
}

.carousel-control-prev,
.carousel-control-next {
    transition: none;
    opacity: unset
}